@import '../common/common';
.user-wrapper {
	flex: 1;
	padding-bottom: 70px;
	background-color: #ddd;
}
.my-info {
	background-color: $baseBg;
	padding-top: 20px;
	.my-avatar {
		width: 90px;
		height: 90px;
		border-radius: 50%;
		overflow: hidden;
		margin: 0 auto;
		img {
			width: 100%;
			height: 100%;
		}
	}
	strong {
		display: block;
		padding-top: 20px;
		padding-bottom: 5px;
		font-size: 16px;
		color: #fff;
	}
	p {
		padding: 0 10px;
		color: rgba(255,255,255,0.6)
	}
}
